<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/stylesheets/css/lessonStyle.css"></style>
<link rel="stylesheet" type="text/css" href="/stylesheets/css/headerStyle.css"></style>
</head>
<body>
<div class="header">
  <a href="#default" class="logo">321 Foundation</a>
  <div class="header-right">
    <a class="active" href="/main">Back to Home</a>
  </div>
</div>

<br>
<div class="row">

  <div class="column">
    <div class="card">
    <img src="https://i.gifer.com/origin/e4/e46992fc8718242635d07a0423c5b33f_w200.gif" alt="Avatar" style="width:100%">
     <h1> Lesson 1</h1>
     <p> The Yogi</p>
     
<a href="https://web.whatsapp.com/" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
    </div>
  </div>

  <div class="column">
    <div class="card">
    <img src="https://i.pinimg.com/originals/ff/4a/67/ff4a67d1735c0b808d20ed228f8baf0c.gif" alt="Avatar" style="width:100%">
      <h1> Lesson 2</h1>
     <p> The Healthy Kid</p>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://web.whatsapp.com/" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>

    </div>
  </div>


  
  <div class="column">
    <div class="card">
    <img src="https://media2.giphy.com/media/26n6Q7rCEx76otgf6/giphy.gif" alt="Avatar" style="width:100%">
      <h1> Lesson 3</h1>
     <p> The Fatty Fat Champ</p>
<a href="https://web.whatsapp.com/" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
    </div>
  </div>
 
<div class="column">
    <div class="card">
    <img src="https://i.pinimg.com/originals/8a/1d/2d/8a1d2d64f3b057b82af2ab9c60c1041c.gif" alt="Avatar" style="width:100%">
     <h1> Lesson 4</h1>
     <p> Walk & Blog</p>
     
<a href="https://web.whatsapp.com/" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
    </div>
  </div>

 
</div>

<br> <br>

<div class="row">
  
  <div class="column">
    <div class="card">
      <img src="https://i.pinimg.com/originals/b4/c7/7d/b4c77dd697254c06a597a00919e1c297.gif" alt="Avatar" style="width:100%">
      <h1> Lesson 5</h1>
     <p> The Airguitar Kid</p>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
       
 
<a href="https://web.whatsapp.com/" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>

    </div>
  </div>

  <div class="column">
    <div class="card">
    <img src="https://i.pinimg.com/originals/6d/8a/34/6d8a34709d4b23f5632e04ea1cd0c3ae.gif" alt="Avatar" style="width:100%">
      <h1> Lesson 6</h1>
     <p> The Happy Kid</p>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://web.whatsapp.com/" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>

    </div>
  </div>
 

  <div class="column">
    <div class="card">
    <img src="https://i.pinimg.com/originals/61/ed/8f/61ed8fd8bdc613adaccf8c05aa5ab386.gif" alt="Avatar" style="width:100%">
      <h1> Lesson 7</h1>
     <p> The Magic Book</p>
<a href="https://web.whatsapp.com/" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
    </div>
  </div>
 
  <div class="column">
    <div class="card">
      <img src="https://cdn.dribbble.com/users/1454457/screenshots/6514364/man_and_fly_800x601_2.gif" alt="Avatar" style="width:100%">
      <h1> Lesson 8</h1>
     <p> The Man & Fly</p>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
       
 
<a href="https://web.whatsapp.com/" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>

    </div>
  </div>
</div>

</body>
</html>