<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/css/loginStyle.css"></style>
  <link rel="stylesheet" type="text/css" href="stylesheets/css/headerStyle.css"></style>
</head>
<body>
<div class="header">
  <a href="#default" class="logo">321 Foundation</a>
  <div class="header-right">
    <a class="active" href="register.html">Register your school</a>
  </div>
</div>
<br><br>
<div class="main">
  <form action="/signintry" method="POST"> 
    <input type="email" id="schoolId" name="schoolId" placeholder="Enter School ID..">
    <input type="password" id="password" name="password" placeholder="Enter Password..">
    <button type="submit"><a href="Main.html">Login</a></button>
  </form>
</div>

</body>
</html>
